html{
    font-size: 100%;
    box-sizing: border-box ;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-family: $font-bai;
}

a, a::after, a::before{
  // all: unset;
  text-decoration: none;
  color: $white;
  
}

p{
  color: $color-neutral-gray-blue;
  font-size: $font-sz-gen;
  line-height: 1.7rem;
}

