html{
    font-size: 100%;
    box-sizing: border-box ;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-family: $font-bai;
  @include media-query(mobile){
    background-image: url(/images/bg-header-mobile.png);
    background-size: contain;
    margin: 0 0.9375rem;
  }
}

a, a::after, a::before{
  // all: unset;
  text-decoration: none;
  color: $white;
  
}

// .container{
//   margin: 0 10.3125rem;
// }
p{
  color: $color-neutral-gray-blue;
  font-size: $font-sz-gen;
  line-height: 1.7rem;
}

h3{
  font-size: $font-sz-h3;
  font-weight: $font-bold;
  color:$color-neutral-dark-blue;
}

h2{
  font-size: $font-sz-h2;
  font-weight: $font-bold;
  color: $color-neutral-dark-blue;
}

