.extra{
    margin: 5rem auto 5rem auto;
    display: flex;
    justify-content: space-around;
    @include media-query(tablet){
        flex-direction: column;
        
        align-items: center;
    }

    .copy{
        img{
            margin-bottom: 3.125rem;
        }
        p{
            margin-top: 1.875rem;
            width: 30ch;
        }
    }

}

.sponsors{
    margin: 0 auto 10.3125rem auto;
    display: flex;
    justify-content: space-around;
    @include media-query(tablet){
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img:not(:first-child){
            margin-top: 3.125rem;
        }
        
    }


}

.cta{
    margin-bottom: 8.125rem;
    &__copy{
        p{
            margin: 1.875rem auto 0 auto; 
            width: 60ch;
            @include media-query (tablet){
                width: 80%;
            }
        }
    }

    &__button{
        @extend %button;
    }
}