$color-primary-cyan: hsl(171, 66%, 44%);
$color-primary-blue: hsl(233, 100%, 69%);
$color-neutral-dark-blue: hsl(210, 10%, 33%);
$color-neutral-gray-blue: hsl(201, 11%, 66%);
$white: hsl(100, 100%, 100%);

$font-bold: 600;
$font-regular: 400;
$font-bai: 'Bai Jamjuree', sans-serif;

$font-size: 1.125rem;